/* geral */
* {
    padding: 0;
    margin: 0;
    font-family: helvetica;
    color: #333;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #112e45;
}

body::-webkit-scrollbar-thumb {
    background-color: #fdfdfd;
    border-radius: 25px;
    border: 4px solid #112e45;
}

body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

button {
    background-color: #fdfdfd;
    color: #112e45;
    border: 2px solid #112e45;
    border-radius: 4px;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: #112e45;
    color: #fdfdfd;
}

button:hover>i {
    color: #fdfdfd;
}

button i {
    color: #112e45;
    font-weight: bold;
    pointer-events: none;
}

input,
select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

/* todo header */
.todo-container {
    max-width: 550px;
    margin: 3rem auto 3rem;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 20px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* todo form */
#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p, #todo-edit p {
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/* todo toobar */
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: 0.5rem;
}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/* list todo */
.todo {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
}
.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: 0.4rem;
}

.done {
    background-color: #55738d;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}
